@page
@model FindFriend.Pages.MyDataAdmin.DeleteModel

@{
    ViewData["Title"] = "ลบข้อมูล";
}

<h2>ลบข้อมูลผู้ใช้</h2>

<h3>คุณเเน่ใจว่าต้องการลบข้อมูลนี้</h3>
<div>
    <h4>ลบข้อมูลดังต่อไปนี้</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            สถานที่อ่านหนังสือ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyData.DataCat.LocationID)
        </dd>
        <dt>
           ชื่อผู้ใช้
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyData.Name)
        </dd>
        <dt>
            ชื่อเล่น
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyData.NickName)
        </dd>
        <dt>
           ชั้นปี
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyData.Year)
        </dd>
        <dt>
            รายละเอียดเพิ่มเติม
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyData.DataDetail)
        </dd>
        <dt>
            วิชา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyData.SubJect)
        </dd>
        <dt>
            วัน/เวลา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyData.ReportDate)
        </dd>
        <dt>
            Facebook
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyData.Facebook)
        </dd>
        <dt>
            เบอร์โทรศัพท์
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyData.TellNumber)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="MyData.MyDataID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
