@page
@model FindFriend.Pages.MyDataAdmin.DetailsModel

@{
    ViewData["Title"] = "รายละเอียด";
}

<h2>รายละเอียดทั้งหมด</h2>

<div>
    <h4>ข้อมูลของฉัน</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           สถานที่อ่านหนังสือ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyData.DataCat.LocationID)
        </dd>
        <dt>
            ชื่อ-สกุล
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyData.Name)
        </dd>
        <dt>
            ชื่อเล่น
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyData.NickName)
        </dd>
        <dt>
            ชั้นปี
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyData.Year)
        </dd>
        <dt>
            รายละเอียดเพิ่มเติม
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyData.DataDetail)
        </dd>
        <dt>
            วิชาที่ต้องการอ่าน
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyData.SubJect)
        </dd>
        <dt>
            วัน/เวลา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyData.ReportDate)
        </dd>
        <dt>
           Facebook
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyData.Facebook)
        </dd>
        <dt>
            เบอร์โทรศัพท์
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyData.TellNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MyData.MyDataID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
