@page
@model FindFriend.Pages.MyDataAdmin.EditModel

@{
    ViewData["Title"] = "เเก้ไขข้อมูล";
}

<h2>เเก้ไขข้อมูล</h2>

<h4>เเก้ไขข้อมูลดังต่อไปนี้</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MyData.MyDataID" />
            <div class="form-group">
                สถานที่อ่านหนังสือ
                <select asp-for="MyData.LocationID" class="form-control" asp-items="ViewBag.LocationID"></select>
                <span asp-validation-for="MyData.LocationID" class="text-danger"></span>
            </div>
            <div class="form-group">
                ชื่อ-สกุล
                <input asp-for="MyData.Name" class="form-control" />
                <span asp-validation-for="MyData.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                ชื่อเล่น
                <input asp-for="MyData.NickName" class="form-control" />
                <span asp-validation-for="MyData.NickName" class="text-danger"></span>
            </div>
            <div class="form-group">
                ชั้นปี
                <input asp-for="MyData.Year" class="form-control" />
                <span asp-validation-for="MyData.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                รายละเอียดเพิ่มเติม
                <input asp-for="MyData.DataDetail" class="form-control" />
                <span asp-validation-for="MyData.DataDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                วิชาที่ต้องการอ่าน
                <input asp-for="MyData.SubJect" class="form-control" />
                <span asp-validation-for="MyData.SubJect" class="text-danger"></span>
            </div>
            <div class="form-group">
                วัน/เวลา
                <input asp-for="MyData.ReportDate" class="form-control" />
                <span asp-validation-for="MyData.ReportDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                Facebook
                <input asp-for="MyData.Facebook" class="form-control" />
                <span asp-validation-for="MyData.Facebook" class="text-danger"></span>
            </div>
            <div class="form-group">
               เบอร์โทรศัพท์
                <input asp-for="MyData.TellNumber" class="form-control" />
                <span asp-validation-for="MyData.TellNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
