@page
@model FindFriend.Pages.MyDataAdmin.IndexModel

@{
    ViewData["Title"] = "ชวนเพื่อนอ่านหนังสือ";
}
<body style="background-color:#FCFDFE">
<h2>ชวนเพื่อนอ่านหนังสือ</h2>

<p>
    <a asp-page="Create">เพิ่มข้อมูลชวนเพื่อนอ่านหนังสือ</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               สถานที่อ่านหนังสือ 
            </th>
            <th>
               ชื่อ-สกุล
            </th>
            <th>
               ชื่อเล่น
            </th>
            <th>
                ชั้นปี
            </th>
            <th>
                รายละเอียดเพิ่มเติม
            </th>
            <th>
                วิชาที่ต้องการอ่าน
            </th>
            <th>
                วัน/เวลา 
            </th>
            <th>
                Facebook
            </th>
            <th>
                เบอร์โทรศัพท์
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
</body>
@foreach (var item in Model.MyData) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataCat.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NickName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubJect)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Facebook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TellNumber)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MyDataID">เเก้ไข</a> |
                <a asp-page="./Details" asp-route-id="@item.MyDataID">รายละเอียด</a> |
                <a asp-page="./Delete" asp-route-id="@item.MyDataID">ลบข้อมูล</a>
            </td>
        </tr>
}
    </tbody>
</table>
