﻿@page
 @model IndexModel 
 @{     
     ViewData["Title"] = "ระบบรายงานข่าว"; 
} 
<div class="jumbotron"  style="background-color:#70BEF2">     
    <center><h2>ระบบหาเพื่อนอ่านหนังสือเพื่อทุกคน</h2><center> 
</div> 
<body style="background-color:#FCFDFE">
<div class="row">     
    <h3> สถานที่อ่านหนังสือ </h3>     
    <table class="table">     
    <thead>        
         <tr>            
          <th>สถานที่อ่านหนังสือ</th><th>เพิ่มเติม</th><th>ชื่อ-สกุล</th><th>ชั้นปี</th><th>วัน/เวลา</th><th>วิชา</th><th>รายละเอียด</th>        
           </tr>     
           </thead>     
           <tbody> 
@foreach (var item in Model.MyData) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataCat.ShortName)
               </td>
                <td>
                @Html.DisplayFor(modelItem => item.DataCat.FullName)
               </td>
               <td>
                @Html.DisplayFor(modelItem => item.Name)            
                </td>  
                 <td>
                @Html.DisplayFor(modelItem => item.Year)
                </td>              
                <td> 
                 @Html.DisplayFor(modelItem => item.ReportDate)             
                </td>  
                <td>
                @Html.DisplayFor(modelItem => item.SubJect)
                </td>           
                <td>                
                 @Html.DisplayFor(modelItem => item.DataDetail)            
             </td>         
        </tr> 
}    
     </tbody> 
 </table> 
</div>
</body>