@page
@model FindFriend.Pages.LocationAdmin.CreateModel

@{
    ViewData["Title"] = "เพิ่มสถานที่อ่านหนังสือ";
}

<h2>เพิ่มสถานที่อ่านหนังสือ</h2>

<h4>สถานที่อ่านหนังสือ</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                ชื่อสถานที่
                <input asp-for="Location.ShortName" class="form-control" />
                <span asp-validation-for="Location.ShortName" class="text-danger"></span>
            </div>
            <div class="form-group">
                รายละเอียดเพิ่มเติม
                <input asp-for="Location.FullName" class="form-control" />
                <span asp-validation-for="Location.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
