@page
@model FindFriend.Pages.LocationAdmin.DeleteModel

@{
    ViewData["Title"] = "ลบข้อมูลสถานที่อ่านหนังสือ";
}

<h2>ลบข้อมูลสถานที่อ่านหนังสือ</h2>

<h3>คุณเเน่ใจว่าต้องการลบข้อมูล</h3>
<div>
    <h4>ลบข้อมูล</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ชื่อสถานที่
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location.ShortName)
        </dd>
        <dt>
            รายละเอียดเพิ่มเติม
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location.FullName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Location.LocationID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
