@page
@model FindFriend.Pages.LocationAdmin.DetailsModel

@{
    ViewData["Title"] = "รายละเอียดสถานที่อ่านหนังสือ";
}

<h2>รายละเอียดสถานที่อ่านหนังสือ</h2>

<div>
    <h4>รายละเอียด</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ชื่อสถานที่
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location.ShortName)
        </dd>
        <dt>
            รายละเอียดเพิ่มเติม
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Location.LocationID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
