@page
@model FindFriend.Pages.LocationAdmin.IndexModel

@{
    ViewData["Title"] = "สถานที่อ่านหนังสือ";
}
<body style="background-color:#FCFDFE">
<h2>สถานที่อ่านหนังสือใน มหาวิทยาลัยสงขลานครินทร์</h2>

<p>
    <a asp-page="Create">เพิ่มสถานที่อ่านหนังสือ</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ชื่อสถานที่
            </th>
            <th>
                รายละเอียดเพิ่มเติม
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
</body>
@foreach (var item in Model.Location) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.LocationID">เเก้ไข</a> |
                <a asp-page="./Details" asp-route-id="@item.LocationID">รายละเอียด</a> |
                <a asp-page="./Delete" asp-route-id="@item.LocationID">ลบข้อมูล</a>
            </td>
        </tr>
}
    </tbody>
</table>
